{% extends "global/Page.html" %}
{% load otree staticfiles %}

{% block styles %}
<link href="{% static 'global/instructions.css' %}" rel="stylesheet"/>
{% endblock %}

    {% block title %}
        You have completed the study
    {% endblock %}


    {% block content %}

 {{ if player.participant.passed == 1 and player.participant.participated_before == 0 }}
    <p>
        Thank you for participating in this study. Your completion code is CBMSQFOS.
         You will receive your bonus payment, if applicable, within the next 6 days.
    </p>
 {{ endif }}

{{ if player.participant.passed == 0 and player.participant.participated_before == 0}}
    <p>
        Unfortunately you did not pass the attention check. Please return your submission to receive a partial payment of £0.50.
    </p>
{{ endif }}

{{ if player.participant.participated_before == 1 }}
 <p>
        You cannot take part multiple times in this study.
    </p>
 {{ endif }}

{% endblock %}
